
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPartidoLabel" translate="ligabasquetApp.partido.home.createOrEditLabel">Create or edit a Partido</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="partido.id" readonly>
        </div>

        <div class="form-group">
            <label translate="ligabasquetApp.partido.marcador" for="field_marcador">Marcador</label>
            <input type="number" class="form-control" name="marcador" id="field_marcador"
                    ng-model="partido.marcador"
                    >

        </div>
        <div class="form-group">
            <label translate="ligabasquetApp.partido.marcadorVisitante" for="field_marcadorVisitante">MarcadorVisitante</label>
            <input type="number" class="form-control" name="marcadorVisitante" id="field_marcadorVisitante"
                    ng-model="partido.marcadorVisitante"
                    >

        </div>
        <div class="form-group">
            <label translate="ligabasquetApp.partido.estadisticas" for="field_estadisticas">estadisticas</label>
            <select class="form-control" id="field_estadisticas" multiple name="estadisticas" ng-model="partido.estadisticass" ng-options="estadisticas as estadisticas.id for estadisticas in estadisticass track by estadisticas.id"></select>
        </div>
        <div class="form-group">
            <label translate="ligabasquetApp.partido.arbitro" for="field_arbitro">arbitro</label>
            
            <select class="form-control" id="field_arbitro" name="arbitro" ng-model="partido.arbitro" ng-options="arbitro as arbitro.id for arbitro in arbitros track by arbitro.id">
                <option value=""></option>
            </select>
            
        </div>
        <div class="form-group">
            <label translate="ligabasquetApp.partido.temporada" for="field_temporada">temporada</label>
            
            <select class="form-control" id="field_temporada" name="temporada" ng-model="partido.temporada" ng-options="temporada as temporada.id for temporada in temporadas track by temporada.id">
                <option value=""></option>
            </select>
            
        </div>
        <div class="form-group">
            <label translate="ligabasquetApp.partido.equipoLocal" for="field_equipoLocal">equipoLocal</label>
            
            <select class="form-control" id="field_equipoLocal" name="equipoLocal" ng-model="partido.equipoLocal" ng-options="equipo as equipo.id for equipo in equipolocals | orderBy:'id' track by equipo.id">
                <option value=""></option>
            </select>
            
        </div>
        <div class="form-group">
            <label translate="ligabasquetApp.partido.EquipoVisitante" for="field_EquipoVisitante">EquipoVisitante</label>
            
            <select class="form-control" id="field_EquipoVisitante" name="EquipoVisitante" ng-model="partido.equipoVisitante" ng-options="equipo as equipo.id for equipo in equipovisitantes | orderBy:'id' track by equipo.id">
                <option value=""></option>
            </select>
            
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
