
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myEstadisticasLabel" translate="ligabasquetApp.estadisticas.home.createOrEditLabel">Create or edit a Estadisticas</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="estadisticas.id" readonly>
        </div>

        <div class="form-group">
            <label translate="ligabasquetApp.estadisticas.canastes" for="field_canastes">Canastes</label>
            <input type="number" class="form-control" name="canastes" id="field_canastes"
                    ng-model="estadisticas.canastes"
                    >

        </div>
        <div class="form-group">
            <label translate="ligabasquetApp.estadisticas.asistencies" for="field_asistencies">Asistencies</label>
            <input type="number" class="form-control" name="asistencies" id="field_asistencies"
                    ng-model="estadisticas.asistencies"
                    >

        </div>
        <div class="form-group">
            <label translate="ligabasquetApp.estadisticas.rebotes" for="field_rebotes">Rebotes</label>
            <input type="number" class="form-control" name="rebotes" id="field_rebotes"
                    ng-model="estadisticas.rebotes"
                    >

        </div>
        <div class="form-group">
            <label translate="ligabasquetApp.estadisticas.faltas" for="field_faltas">Faltas</label>
            <input type="number" class="form-control" name="faltas" id="field_faltas"
                    ng-model="estadisticas.faltas"
                    >

        </div>
        <div class="form-group">
            <label translate="ligabasquetApp.estadisticas.puntos" for="field_puntos">Puntos</label>
            <input type="number" class="form-control" name="puntos" id="field_puntos"
                    ng-model="estadisticas.puntos"
                    >

        </div>
        <div class="form-group">
            <label translate="ligabasquetApp.estadisticas.jugador" for="field_jugador">jugador</label>
            <select class="form-control" id="field_jugador" multiple name="jugador" ng-model="estadisticas.jugadors" ng-options="jugador as jugador.id for jugador in jugadors track by jugador.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
