<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="">
    <h2>Ejercicio 1</h2>
    
<p>Introducir datos jugador:</p>
<p>Nombre: <input type="text" ng-model="nombre"></p>
<p>{{nombre}}</p>
<p>Fecha nacimiento: <input type="date" ng-model="nacimiento"></p>
<p>{{nacimiento}}</p>
<p>Canastas: <input type="text" ng-model="canastas"></p>
<p>{{canastas}}</p>
<p>Asistencias: <input type="text" ng-model="asis"></p>
<p>{{asis}}</p>
<p>Rebotes: <input type="text" ng-model="rebotes"></p>
<p>{{rebotes}}</p>

<p> la directiva ng-model une el valor del imput a los datos de la aplicacion</p>

</div>

</body>
</html>
