<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="" ng-init="jugadors=[
{nom:'Jani',naix:'12/09/2000',canas:190,asis:48,reb:11},
{nom:'Hege',naix:'01/08/1990',canas:250,asis:20,reb:19},
{nom:'Kai',naix:'01/09/2000',canas:145,asis:300,reb:50}]">

<p>Jugadors:</p>
<ul>
  <li ng-repeat="x in jugadors">
  {{ x.nom + ', ' + x.naix+','+x.canas+','+x.asis+','+x.reb }}</li>
</ul>

</div>
    <p>Per cada alament en el array de jugadors el ,ng-repeat="x in jugadors", es repatira</p>
</body>
</html>